body{

    margin: 0;
    padding:0;
    background:lightgray;

    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: lightgrey;

}

#header{
    display: flex;
    align-items: center;
    padding:15px;


}
#header nav{
    display: flex;
    align-items: center;
     justify-content: flex-end;
     padding-left: 350px;
}

#header nav h3{
    padding:50px;
    cursor:pointer;
}
#header-img{
 width: 30%;
 justify-content: flex-start;
}


i {
    color: orange;
}

#micro{
    color: maroon;
    text-align: center;
}

button{
    background-color: yellow;
    border-color: yellow;
    border-radius: 2px;
}
#iconic{
    display: flex;
    align-items: center;
    padding: 20px;
}

#card{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card {
    text-align: center;
 width: 35%;
 border-color: black;
 border-bottom-color: white;
 padding: 20px;
  
}



.container {
  padding: 2px 16px 2px 16px;
}

footer{
    display: flex;
    justify-content: flex-end;
    
}
footer h2{
    padding: 20px
}
