*{
    padding:0;
    margin:0;
}

#header{
    display: flex;
   
    align-items: center;
    padding:15px;
    position: fixed;
}
#header h3{
     justify-content: flex-end;
}
#header-img{
 width: 30%;
 justify-content: flex-start;
}