body{
    margin: 0;
    padding:0;
    background:lightgray;
}

#header{
    display: flex;
    align-items: center;
    padding:15px;
    
}
#header nav{
    display: flex;
    align-items: center;
     justify-content: flex-end;
     padding-left: 350px;
}

#header nav h3{
    padding:50px;
    cursor:pointer;
}
#header-img{
 width: 30%;
 justify-content: flex-start;
}

i {
    color: orange;
}